.grid > * {
  padding: 5px;
}
body {
  margin: 0;
  text-align: center;
  font-family: 'Quattrocento', serif;
}
a {
  color: white;
  font-size: 25px;
  margin: 20px;
}

img {
    
    margin: 0 auto;
    height: 100%;
    
}
ul {
  list-style-type: none;
}

/*Main grids*/
.header {
  grid-area: header;
  background-color: #8e1923;  
}
.banner {
  display: grid;
  grid-area: banner;
  background-color: #383a3d;
  color: white;
  min-height: 640px;
  padding: 0;
  justify-items: center;
  align-content: space-evenly;
  grid-template-columns: 1fr;
  grid-template-rows: 200px 110px 200px;
  grid-template-areas:
    "blogo"
    "bname"
    "bsummary"
}

.work, .skills {
  justify-items: center;  
  display: grid;
  grid-column-gap: 50px;
  grid-row-gap: 20px; 
  grid-template-columns: 1fr;
  grid-template-rows: 75px auto auto auto;  
}
.work {
  grid-area: work;
  background-color: lightgrey;
  grid-template-areas:
    "title" 
    "project1"
    "project2"
    "project3";
}
.skills {
  grid-area: skills;
  background-color: white;
  grid-template-areas:
    "title" 
    "frontskills"
    "backskills"
    "otherskills";
}
.footer {
  grid-area: footer;
  background-color: #383a3d;
  
}
.contacticon{
  max-height: 50px;
  padding-top: 5px;

}

/*Sub grids*/
.title {
  grid-area: title;
  text-decoration: underline;  
}
.project1, .project2, .project3, .frontskills, .backskills, .otherskills {
  border: solid;
  max-width: 300px;
  min-width: 340px;
  min-height: 250px;
}
.project1, .project2, .project3 {
  display: grid;
  justify-items: center;
  margin-bottom: 10px;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto;
  grid-template-areas: 
    "picon"
    "ptitle"
    "pmenu"  
}
.projecticon {
  grid-area: picon;
  min-height: 100px;
  max-height: 100px;
  margin: 15px;
}
.projecttitle {
  grid-area: ptitle;
  font-size: 24px;
  margin-top: 30px;
}
.projectmenu {
  grid-area: pmenu;
}
.frontskills, .backskills, .otherskill {
  display: grid;
  justify-items: center;   
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto;
  grid-template-areas:
    "sicon"
    "stitle"
    "slist"
}

.skillicon {
  grid-area: sicon;
  min-height: 50px;
  max-height: 50px;
  margin-top: 20px;
}
.skilltitle {
  grid-area: stitle;
  font-size: 24px;
}
.skilllist {
  grid-area: slist;
  margin-right: 40px;
}

/*Banner grid elements*/
.bannerlogo {
  grid-area: blogo;
  width: 200px;
  height: 200px;
  overflow: hidden;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  justify-items: center;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 100px;
  grid-template-areas:
  "rounded"
}
.rounded{
  grid-area: rounded;
  width: 100%;
  height: auto;
}
.bannername {
  grid-area: bname;
  font-size: 60px;
  padding: 0;
}
.bannersummary {
  grid-area: bsummary;
  font-size: 24px;
  max-width: 360px;
}
/*Work grid elements*/
.project1 {
  grid-area: project1; 
}
.project2 {
  grid-area: project2;
}
.project3 {
  grid-area: project3;
}
/*Skills grid elements*/
.frontskills {
  grid-area: frontskills;
}
.backskills {
  grid-area: backskills;
}
.otherskills {
  grid-area: otherskills;
}

/*@media screen and (min-width: 40em) {
  .grid {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 5rem auto auto;
    grid-template-areas:
      "header    banner banner"
      "work work    skills"
      "footer  footer     footer";
    grid-gap: 1rem;
  }
  */
/*Styles popup window*/


@media screen and (min-width: 410px) {
  .banner {
    min-height: 700px;
  }
}

/*Styles for grid on larger screen*/

@media screen and (min-width: 1235px) {
  .grid {  
    display: grid;
    margin: 0;
    padding: 0;
    list-style: none;
    grid-template-columns: auto auto auto;
    grid-template-rows: 75px 600px auto auto auto;
    grid-template-areas:
      "header header header"
      "banner banner banner"
      "work work work"
      "skills skills skills"
      "footer footer footer";
    /*grid-gap: 1rem;*/
    /*min-height: 100vh;*/  
  }
  .work, .skills {
    display: grid;
    grid-row-gap: 0;
    grid-template-columns: repeat(5, auto);
    grid-template-rows: auto auto;    
  }
  .work {
    grid-template-areas:
        "title title title title title" 
        ". project1 project2 project3 ."; 
  }
  .skills {
    grid-template-areas:
      "title title title title title" 
      ". frontskills backskills otherskills .";
  }
  .bannersummary {
    max-width: 510px;
  }
  .bannerlogo {
    grid-template-rows: 200px 75px 100px;

  } 
  .header {
    padding-top: 25px;
  }
  .project1, .project2, .project3 {
    margin-bottom: 15px;
  }
  .frontskills, .backskills, .otherskills  {
    margin-bottom: 15px;
  }
  
}